@use "../../abstracts/mixins" as *;
@use "../../abstracts/variables" as *;

.hero-section {
  .wrapper {
    .left-section {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .content {
        padding: 10rem 2rem 20rem 2rem;
        height: 100%;
        width: 100%;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        align-items: flex-start;

        @include onTablet {
          padding: 2rem;
        }
        @include onDesktop {
          padding: 4rem;
        }

        .gradient-button {
          margin-bottom: 1rem;
        }
        .title-text {
          line-height: 1.2;
          margin-bottom: 0.5rem;
          font-size: 2.2rem;
          @include onDesktop {
            font-size: 3rem;
          }
        }
        .description-text {
          line-height: 1.5;
          opacity: 0.8;
          margin-bottom: 1rem;
          font-size: 1.2rem;
          @include onDesktop {
            font-size: 1.4rem;
          }
        }

        .buttons-row {
          display: flex;
          gap: 1rem;
          flex-direction: row;
          @include onTablet {
            flex-direction: column;
          }
          @include onDesktop {
            flex-direction: row;
          }
        }
      }
    }
    .right-section {
      background-color: $priamry-color;
      position: relative;
      @include onTablet {
        overflow: hidden;
      }

      .alignment-test {
        display: none;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        position: absolute;
        width: 400px;
        height: 700px;
        background-color: green;
      }
      .hero-image {
        position: absolute;
        transform: translate(-65%, -41%);
        left: 50%;
        top: 4rem;
        @include onTablet {
          top: 50%;
        }
        width: 500px;
        height: 900px;
        @include onDesktop {
          width: 600px;
          height: 900px;
        }
        object-fit: contain;
      }
    }
  }

  .banner {
    background-color: rgba($color: #181818, $alpha: 0.8);
    padding: 2rem 0;
    @include onTablet {
      padding: 1.2rem 0;
    }
    .container {
      display: flex;
      gap: 2rem;
      flex-direction: column;
      align-items: flex-start;
      @include onTablet {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      .details {
        flex: 1;
        .title-text {
          font-size: 1.4rem;
          font-weight: normal;
          margin-bottom: 0.5rem;
        }
        .description-text {
          font-size: 1rem;
          opacity: 0.8;
        }
      }

      .waiting-list-form {
        width: 100%;
        @include onTablet {
          width: auto;
        }
        display: flex;
        height: 3rem;
        border: 1px solid #a1a1a1;
        font-size: 1.2rem;
        .input-wrapper {
          padding-left: 1rem;
          width: 100%;
          flex: 1;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          input {
            width: 100%;
            font-size: 1.2rem;
            flex: 1;
            height: 100%;
            outline: none;
            border: none;
            background-color: transparent;
            color: #fff;
          }
        }
        .submit-button {
          outline: none;
          border: none;
          background-color: rgba($color: #fff, $alpha: 0.5);
          font-size: 1.2rem;
          padding: 0 1rem;
          color: #000;
          transition: all 150ms ease-in-out;
          cursor: pointer;
          white-space: nowrap;
          &:hover {
            background-color: #fff;
          }
          &:active {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
