@use "variables" as *;
*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color-scheme: dark;
}

.disable-scroll {
  overflow: hidden;
}

body {
  background-color: #0a0a0d;
  color: #fff;
}

.container {
  padding: 0 2rem;
}

@media (min-width: 1080px) {
  .container {
    padding: 0 4rem;
  }
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.nav-bar {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  height: 120px;
}

.nav-bar.sticky {
  height: 64px;
}

.nav-bar .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar .container .left-wrapper,
.nav-bar .container .right-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .container .right-wrapper {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.fullscreen-navigation-window {
  -webkit-transition: top ease-in-out 300ms;
  transition: top ease-in-out 300ms;
  top: -100vh;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #282828;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
}

.fullscreen-navigation-window.show {
  top: 0;
}

.fullscreen-navigation-window .close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

@media (min-width: 1080px) {
  .fullscreen-navigation-window .close-button {
    right: 4rem;
  }
}

.fullscreen-navigation-window .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  list-style: none;
}

.fullscreen-navigation-window .menu .menu-item {
  font-size: 3rem;
  font-weight: bold;
}

.fullscreen-navigation-window .menu .menu-item a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  display: inline-block;
  opacity: 0.8;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

.fullscreen-navigation-window .menu .menu-item a:hover {
  opacity: 1;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
}

.hero-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .hero-section .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hero-section .wrapper .left-section,
.hero-section .wrapper .right-section {
  min-height: 400px;
}

@media (min-width: 768px) {
  .hero-section .wrapper .left-section,
  .hero-section .wrapper .right-section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-height: 1080px;
    height: 100vh;
  }
}

.hero-section .banner {
  width: 100%;
}

@media (min-width: 1080px) {
  .hero-section .banner {
    position: absolute;
    bottom: 0;
  }
}

.gradient-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, right top, from(#291dc8), to(#721fff));
  background: linear-gradient(to right, #291dc8, #721fff);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  -webkit-transition: -webkit-filter 150ms ease-in-out;
  transition: -webkit-filter 150ms ease-in-out;
  transition: filter 150ms ease-in-out;
  transition: filter 150ms ease-in-out, -webkit-filter 150ms ease-in-out;
}

.gradient-button:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.gradient-button:active {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.store-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 4rem;
  padding: 0.5rem 1rem;
  border: 1px solid #a1a1a1;
  color: #a1a1a1;
  text-decoration: none;
  -webkit-transition: -webkit-filter 150ms ease-in-out;
  transition: -webkit-filter 150ms ease-in-out;
  transition: filter 150ms ease-in-out;
  transition: filter 150ms ease-in-out, -webkit-filter 150ms ease-in-out;
}

.store-button:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.store-button:active {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.store-button .icon {
  width: 2rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.humburger-button,
.close-button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  cursor: pointer;
  background-color: #fff;
  outline: none;
  border: none;
}

.humburger-button:hover,
.close-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.humburger-button:active,
.close-button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.nav-bar {
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(0rem);
          backdrop-filter: blur(0rem);
}

.nav-bar.sticky {
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.nav-bar .logo {
  -webkit-transition: -webkit-filter 150ms ease-in-out;
  transition: -webkit-filter 150ms ease-in-out;
  transition: filter 150ms ease-in-out;
  transition: filter 150ms ease-in-out, -webkit-filter 150ms ease-in-out;
}

.nav-bar .logo:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.nav-bar .logo:active {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.nav-bar .logo img {
  height: 1.5rem;
}

.hero-section .wrapper .left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.hero-section .wrapper .left-section .content {
  padding: 10rem 2rem 20rem 2rem;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 768px) {
  .hero-section .wrapper .left-section .content {
    padding: 2rem;
  }
}

@media (min-width: 1080px) {
  .hero-section .wrapper .left-section .content {
    padding: 4rem;
  }
}

.hero-section .wrapper .left-section .content .gradient-button {
  margin-bottom: 1rem;
}

.hero-section .wrapper .left-section .content .title-text {
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
}

@media (min-width: 1080px) {
  .hero-section .wrapper .left-section .content .title-text {
    font-size: 3rem;
  }
}

.hero-section .wrapper .left-section .content .description-text {
  line-height: 1.5;
  opacity: 0.8;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

@media (min-width: 1080px) {
  .hero-section .wrapper .left-section .content .description-text {
    font-size: 1.4rem;
  }
}

.hero-section .wrapper .left-section .content .buttons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 768px) {
  .hero-section .wrapper .left-section .content .buttons-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1080px) {
  .hero-section .wrapper .left-section .content .buttons-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hero-section .wrapper .right-section {
  background-color: #5c3abe;
  position: relative;
}

@media (min-width: 768px) {
  .hero-section .wrapper .right-section {
    overflow: hidden;
  }
}

.hero-section .wrapper .right-section .alignment-test {
  display: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  width: 400px;
  height: 700px;
  background-color: green;
}

.hero-section .wrapper .right-section .hero-image {
  position: absolute;
  -webkit-transform: translate(-65%, -41%);
          transform: translate(-65%, -41%);
  left: 50%;
  top: 4rem;
  width: 500px;
  height: 900px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 768px) {
  .hero-section .wrapper .right-section .hero-image {
    top: 50%;
  }
}

@media (min-width: 1080px) {
  .hero-section .wrapper .right-section .hero-image {
    width: 600px;
    height: 900px;
  }
}

.hero-section .banner {
  background-color: rgba(24, 24, 24, 0.8);
  padding: 2rem 0;
}

@media (min-width: 768px) {
  .hero-section .banner {
    padding: 1.2rem 0;
  }
}

.hero-section .banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 768px) {
  .hero-section .banner .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero-section .banner .container .details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero-section .banner .container .details .title-text {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.hero-section .banner .container .details .description-text {
  font-size: 1rem;
  opacity: 0.8;
}

.hero-section .banner .container .waiting-list-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  border: 1px solid #a1a1a1;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .hero-section .banner .container .waiting-list-form {
    width: auto;
  }
}

.hero-section .banner .container .waiting-list-form .input-wrapper {
  padding-left: 1rem;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.hero-section .banner .container .waiting-list-form .input-wrapper input {
  width: 100%;
  font-size: 1.2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  color: #fff;
}

.hero-section .banner .container .waiting-list-form .submit-button {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  padding: 0 1rem;
  color: #000;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  cursor: pointer;
  white-space: nowrap;
}

.hero-section .banner .container .waiting-list-form .submit-button:hover {
  background-color: #fff;
}

.hero-section .banner .container .waiting-list-form .submit-button:active {
  opacity: 0.8;
}

.intro-video-section {
  width: 100%;
  height: 100vh;
  position: relative;
}

.intro-video-section .video {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro-video-section .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(24, 24, 24, 0.5);
}

.intro-video-section .overlay .play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: -webkit-filter 150ms ease-in-out;
  transition: -webkit-filter 150ms ease-in-out;
  transition: filter 150ms ease-in-out;
  transition: filter 150ms ease-in-out, -webkit-filter 150ms ease-in-out;
}

.intro-video-section .overlay .play-button:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.intro-video-section .overlay .play-button:active {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}
/*# sourceMappingURL=main.css.map */